/*===================
Custom styles of ieee
version: 1.1
file format: .less
date: 2/15/2016
=====================*/

/* Global Setings */
body {
	padding-bottom: 0 !important;
}
.panel,
.thumbnail,
.btn,
input.form-control,
.dropdown-menu
{
	border-radius: 0;
}

a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
	color:#aaa !important;
}

.litle-font {
	font-size: 11px;
}

/* Navbar Style */
nav.navbar {
	margin: 0;
}

li.menu-discription {
	padding-left: 20px;
	color: gray;
}

.menu-caption {
	width: 250px;
}

.menu-caption > img {
	float: right;
	width: 100px;
	margin-top: -10px; 
	margin-bottom: -5px;
	opacity: .8;

}
.menu-caption > p {
	font-size: 11px;
	padding-left: 10px;
	color: gray;
}

.about-img {
	margin-top: -5px;
	margin-bottom: 10px;
	opacity: .9;
}

@media screen and (max-width: 768px) {
	/*hidden discription elements in responsive mode*/
	.menu-caption,
	.menu-discription,
	.about-img,
	.top-subscribe-form,
	.carousel-caption > p
	{
		display: none;
	}
}

/*page title*/
/*slider*/
.slider-image {
	width: 100%;
	max-height: 410px;
}
.page-title-one {
	text-align: center;
	padding: 30px;
	padding-bottom: 0;

}

.page-title-place {
	float: none;
	margin: auto;
}

.page-title-one-text {
	font-family: sans-serif;
	font-weight: bold;
	font-style: italic;	
	text-align: justify;
	
}

.page-title-one-text :first-child {
	float: left;
	font-size: 110px;
	margin-top: -50px;
	font-style: normal;
}
.page-title-one-text :nth-child(2) {
	float: right;
	font-size: 110px;
	font-style: normal;
	margin-top: 10px;
}

.page-title-one-text :nth-child(4) {
	color: gray;
	font-size: 12px;
}

@media screen and (max-width: 768px) {
	/*this is control of page title*/
	.page-title-one-text {
		font-size: 25px;
		text-align: justify;
	}
}

/*Main Cards*/
.main-cards {
	margin-bottom: 40px;
}
.card {
	background-color: #EEEEEE;
	padding: 30px;
	color: #007DB8;
	border: solid 1px #DDDDDD;
}
.card:hover {
	background-color: white;
}	
.card-glyph {
	font-size: 20px;
}
.card-glyph ~ p {
	color: black;
	font-size: 12px;
}

/*News & Articles*/
.thumbnail {
	padding: 0;
}
.thumbnail > .caption > h5 {
	font-weight: bold;
}
.thumbnail > .caption > p {
	font-size: 13px;
	height: 120px;
}

.left-bar {
	background: #EEEEEE;
	width:20px;
	height: 41px;
	float: left;
	margin-left: -19px;
	margin-right: 0;
}
.right-bar {
	background: #EEEEEE;
	width:20px;
	height: 41px;
	float: right;
	margin-right: -5px;
}
.thumbnail > .news-images {
	width: 170px;
	height: 170px;
}
.bar-title {
	border: 1px solid #EEEEEE;
	margin: 0;
	padding: 10px;
}

.news-button {
	margin: 0;
}
.news-thumb {
	padding: 10px;
}

.news-column,
.articles-column {
	
}
.news-summary {
	overflow: hidden;
}

.news-top-nav,
.articles-top-nav {
	border: 1px solid #EEEEEE;
	border-left: 20px solid #F5F5F5;
	border-right: 20px solid #F5F5F5;
	padding: 5px
}
.news-top-nav:hover,
.articles-top-nav:hover {
	background: #F5F5F5;
}
.news-top-nav > a ,
.articles-top-nav > a {
	text-decoration: none;
	color: gray;
	font-weight: bold;
}

.news-row {
	padding: 0 5px 0 5px;
}
.article-panel {
	margin-top: 10px;
}

.article {
	border: 1px solid #F4F5F6;
	padding: 5px;
}
.article:hover {
	background: #F4F5F6;
}
.article-body > h5 {
	font-weight: bold;
}
.article-body > p {
	font-size: 12px;
}

/*Subscription*/
.Subscription {
	background: #52B9E9;
}
.subscribe-body {
	padding: 30px;
}
.subscribe-body > .text > p {
	padding: 100px;
}

.big-envelope {
	border: 1px solid #1171A3;
	border-radius: 30px;
	width: 54px;
	height: 54px;
	padding: 10px;
	background: #1171A3;
	font-size: 30px;
	color: white;
	margin-left: 2px;
}

.subscribe-content {
	float: none;
	margin: auto;
	font-size: 18px;
	color: white;
	font-style: italic;
}



.subscribe-form {
	padding: 30px 0 40px 0;
}

.subscribe-form-body {
	 color: white;
	 font-size: 25px;
}
.subscribe-form-column {
	 margin: auto;
	 float: none;
}
.subscribe-form-column > #email-subscribe {
	 border-radius: 0;
	 margin-bottom: 10px;
}
.subscribe-form-column > .btn {
	margin-bottom: 10px;
}
.glyphicon-ok {
	font-size: 38px;
	color: green;
}

/*Footer*/
.footer-title {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	color: #666;
}

.footer-content > hr {
	margin: 5px 0 5px 0;
}
.footer-content {
	color: #555;
}
.ieee-links > li > a {
	color: #555;
	text-decoration: none;
}

.main-footer-div {
	background: #FAFAFA;
}
.main-footer-div > .container {
	padding-top: 20px;
}
.main-footer-div > .container > .row {
	padding-bottom: 20px;
}
.footer-title > h4 > span {
	font-size: 14px;
}
.ieee-links {
	 font-size: 12px;
	 color: gray;
	 float: left;
}

/*copyright*/

.copyright {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	font-size: 13px;
	color: gray;
}